@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .thumb__path {
    clip-path: polygon(3% 0, 100% 0, 100% 95%, 97% 100%, 0 100%, 0 6%);
  }

  .verticalCard__path {
    clip-path: polygon(5% 0, 100% 0, 100% 96%, 95% 100%, 0 100%, 0 5%);
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
